nav{
    border-left:rgb(242, 164, 68,0.9) groove 20px;
    border-right: rgb(242, 164, 68,0.9) ridge 20px;
    margin: 2%;
    background-color: rgb(13, 13, 13,1);
    height: 5vh;
}

nav ul
{
    display: flex;
    justify-content: space-around;
    font-size: 1.7rem;
    list-style-type: none;
}
nav li
{
    
    margin-right: 5%;
    font-family: "Josefin Sans", sans-serif
}

nav a
{color: #F2F2F2;
    padding-bottom: 3px;
    text-decoration: none;}

    nav a:hover
    {
        color: #F2A444;
        
    }