 
    .galerie-image img{
        width: 60vw;
        display: flex;
        flex-direction: column;
    }

    .logo
    {
        display: none;
    }

    .photo-contact{
        width: 50vw;
        border: black solid 3px;
        

    }

h1
{
    margin-left: 23%;
}

.instagram
{
   display: none;
   
}

nav ul{
    display: none;
}

nav{
    height: 6vh
}

.first-image{
  width: 90vw;
}

.second-image
{
  width: 90vw;
}



.menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}



.menuToggle span
{
  display: block;
  width: 9vw;
  height: .6vh;
  margin-bottom: 3%;
  position: relative;
  
  background:  rgb(242, 164, 68,0.8);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}



.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


.menu
{
  position: absolute;
  width: auto;
  margin: -100px 0 0 -80px;
  padding: 50px;
  padding-top: 125px;
  list-style-type: none ;
  background: black;
  -webkit-font-smoothing: antialiased;
  
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li
{
  padding: 10% 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7em;
  color: rgb(242, 164, 68,0.8);
  text-decoration: none;
}


.menuToggle input:checked ~ ul
{
  transform: none;
}