h1{
    font-family: 'Lobster', cursive;
    color: #262626
}

h2 , p
{
    font-family: 'Josefin Sans', sans-serif;
    color: #262626;
    
}

h2
{
    font-size: 2rem;
}

p
{
    font-size: 1.4rem
}
